<section class="contact-page-2 dt-section">
    <div class="container">
        <div class="row s-30">
            <div class="col-lg-6 col-12">
                <div class="map">
                    {{content.field_embed_map.0}}
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="content">
                    <h2>{{content.field_title.0}}</h2>
                    <p>{{content.field_description.0}}</p>
                     <div class="address">
                        <div class="icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="118" height="150" viewBox="0 0 118 150">
                                <path id="Path_40680" data-name="Path 40680" d="M63,2C30.43,2.037,4.037,28.879,4,62c0,24.413,17.427,44.686,35.887,66.144,5.841,6.8,11.889,13.823,17.272,20.933a7.3,7.3,0,0,0,11.682,0c5.384-7.11,11.431-14.138,17.272-20.933C104.573,106.688,122,86.415,122,62,121.963,28.879,95.57,2.037,63,2Zm0,82.5A22.5,22.5,0,1,1,85.125,62,22.315,22.315,0,0,1,63,84.5Z" transform="translate(-4 -2)" fill="#181c31"/>
                            </svg>
                        </div>
                        <div class="item">
                            <h3>{{content.field_label_1.0}}</h3>
                            {{content.field_address.0}}
                        </div>
                    </div>
                    <div class="call">
                        <div class="icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" viewBox="0 0 150 150">
                                <path id="Icon_ionic-md-call" data-name="Icon ionic-md-call" d="M146.166,108.667a97.8,97.8,0,0,1-29.579-4.581c-2.921-.835-6.253-.42-8.336,2.082L89.916,124.5a125.315,125.315,0,0,1-55-55L53.251,51.168a8.684,8.684,0,0,0,2.083-8.333,90.63,90.63,0,0,1-5-30A8.359,8.359,0,0,0,42,4.5H12.833A8.359,8.359,0,0,0,4.5,12.833,141.549,141.549,0,0,0,146.166,154.5a8.36,8.36,0,0,0,8.334-8.333V117A8.36,8.36,0,0,0,146.166,108.667Z" transform="translate(-4.5 -4.5)" fill="#181c31"/>
                            </svg>
                        </div>
                        <div class="item">
                            <h3>{{content.field_label_2.0}}</h3>
                            <a href="tel:{{content.field_contact_number.0}}" title="{{content.field_contact_number.0}}">{{content.field_contact_number.0}}</a>
                        </div>
                    </div>
                    <div class="mail">
                        <div class="icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="200" height="150" viewBox="0 0 200 150">
                                <path id="Icon_19_" d="M212.952,80H51.048C40.571,80,32,88.181,32,98.182V211.818c0,10,8.571,18.182,19.048,18.182h161.9C223.429,230,232,221.819,232,211.818V98.182C232,88.181,223.429,80,212.952,80Zm-2.38,38.637-78.572,50-78.572-50V100.455l78.572,50,78.572-50Z" transform="translate(-32 -80)" fill="#181c31"/>
                            </svg>
                        </div>
                        <div class="item">
                            <h3>{{content.field_label_3.0}}</h3>
                            <a href="mailto:{{content.field_e_mail.0}}" title="{{content.field_e_mail.0}}">{{content.field_e_mail.0}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class=" form-style-1 form-content">
            <h2>{{content.field_title_2.0}}</h2>
            {{content.field_form.0}}
        </div>
    </div>
</section>