{% set paragraph_parent = paragraph.getParentEntity() %}
{% set parent = paragraph_parent.type.value[0].target_id %}
{% if parent == "achievements_style_1" %}
    <div class="col-lg-3">
        <div class="item">
            <span>{{content.field_title.0}}</span>
            <div class="count"><span data-purecounter-start="0" data-purecounter-end="{{content.field_count.0}}" class="purecounter"></span><span>{{content.field_text_format.0}}</span></div>
        </div>
    </div>
{% elseif parent == "achievements_style_2" %}
     <div class="col-lg-3 col-md-6">
        <div class="item">
            <div class="content">
                <div class="count"><span data-purecounter-start="0" data-purecounter-end="{{content.field_count.0}}" class="purecounter"></span><span>{{content.field_text_format.0}}</span></div>
                <span>{{content.field_title.0}}</span>
            </div>
            <div class="overlay">
                <svg xmlns="http://www.w3.org/2000/svg" width="120" height="120" viewBox="0 0 120 120">
                    <g  data-name="Group 153" transform="translate(-587 -2673)">
                    <rect  data-name="Rectangle 18122" width="3" height="3" rx="1.5" transform="translate(587 2673)" fill="#181c31"/>
                    <rect  data-name="Rectangle 18123" width="3" height="3" rx="1.5" transform="translate(600 2673)" fill="#181c31"/>
                    <rect  data-name="Rectangle 18124" width="3" height="3" rx="1.5" transform="translate(613 2673)" fill="#181c31"/>
                    <rect  data-name="Rectangle 18125" width="3" height="3" rx="1.5" transform="translate(626 2673)" fill="#181c31"/>
                    <rect  data-name="Rectangle 18126" width="3" height="3" rx="1.5" transform="translate(639 2673)" fill="#181c31"/>
                    <rect  data-name="Rectangle 18127" width="3" height="3" rx="1.5" transform="translate(652 2673)" fill="#181c31"/>
                    <rect  data-name="Rectangle 18128" width="3" height="3" rx="1.5" transform="translate(665 2673)" fill="#181c31"/>
                    <rect  data-name="Rectangle 18129" width="3" height="3" rx="1.5" transform="translate(678 2673)" fill="#181c31"/>
                    <rect  data-name="Rectangle 18130" width="3" height="3" rx="1.5" transform="translate(691 2673)" fill="#181c31"/>
                    <rect  data-name="Rectangle 18131" width="3" height="3" rx="1.5" transform="translate(704 2673)" fill="#181c31"/>
                    <rect  data-name="Rectangle 18134" width="3" height="3" rx="1.5" transform="translate(587 2686)" fill="#181c31"/>
                    <rect  data-name="Rectangle 18135" width="3" height="3" rx="1.5" transform="translate(600 2686)" fill="#181c31"/>
                    <rect  data-name="Rectangle 18136" width="3" height="3" rx="1.5" transform="translate(613 2686)" fill="#181c31"/>
                    <rect  data-name="Rectangle 18137" width="3" height="3" rx="1.5" transform="translate(626 2686)" fill="#181c31"/>
                    <rect  data-name="Rectangle 18138" width="3" height="3" rx="1.5" transform="translate(639 2686)" fill="#181c31"/>
                    <rect  data-name="Rectangle 18139" width="3" height="3" rx="1.5" transform="translate(652 2686)" fill="#181c31"/>
                    <rect  data-name="Rectangle 18140" width="3" height="3" rx="1.5" transform="translate(665 2686)" fill="#181c31"/>
                    <rect class="141" data-name="Rectangle 18141" width="3" height="3" rx="1.5" transform="translate(678 2686)" fill="#181c31"/>
                    <rect class="142" data-name="Rectangle 18142" width="3" height="3" rx="1.5" transform="translate(691 2686)" fill="#181c31"/>
                    <rect class="143" data-name="Rectangle 18143" width="3" height="3" rx="1.5" transform="translate(704 2686)" fill="#181c31"/>
                    <rect class="146" data-name="Rectangle 18146" width="3" height="3" rx="1.5" transform="translate(587 2699)" fill="#181c31"/>
                    <rect class="147" data-name="Rectangle 18147" width="3" height="3" rx="1.5" transform="translate(600 2699)" fill="#181c31"/>
                    <rect class="148" data-name="Rectangle 18148" width="3" height="3" rx="1.5" transform="translate(613 2699)" fill="#181c31"/>
                    <rect class="149" data-name="Rectangle 18149" width="3" height="3" rx="1.5" transform="translate(626 2699)" fill="#181c31"/>
                    <rect class="150" data-name="Rectangle 18150" width="3" height="3" rx="1.5" transform="translate(639 2699)" fill="#181c31"/>
                    <rect class="151" data-name="Rectangle 18151" width="3" height="3" rx="1.5" transform="translate(652 2699)" fill="#181c31"/>
                    <rect class="152" data-name="Rectangle 18152" width="3" height="3" rx="1.5" transform="translate(665 2699)" fill="#181c31"/>
                    <rect class="153" data-name="Rectangle 18153" width="3" height="3" rx="1.5" transform="translate(678 2699)" fill="#181c31"/>
                    <rect class="154" data-name="Rectangle 18154" width="3" height="3" rx="1.5" transform="translate(691 2699)" fill="#181c31"/>
                    <rect class="155" data-name="Rectangle 18155" width="3" height="3" rx="1.5" transform="translate(704 2699)" fill="#181c31"/>
                    <rect class="158" data-name="Rectangle 18158" width="3" height="3" rx="1.5" transform="translate(587 2712)" fill="#181c31"/>
                    <rect class="159" data-name="Rectangle 18159" width="3" height="3" rx="1.5" transform="translate(600 2712)" fill="#181c31"/>
                    <rect class="160" data-name="Rectangle 18160" width="3" height="3" rx="1.5" transform="translate(613 2712)" fill="#181c31"/>
                    <rect class="161" data-name="Rectangle 18161" width="3" height="3" rx="1.5" transform="translate(626 2712)" fill="#181c31"/>
                    <rect class="162" data-name="Rectangle 18162" width="3" height="3" rx="1.5" transform="translate(639 2712)" fill="#181c31"/>
                    <rect class="163" data-name="Rectangle 18163" width="3" height="3" rx="1.5" transform="translate(652 2712)" fill="#181c31"/>
                    <rect class="164" data-name="Rectangle 18164" width="3" height="3" rx="1.5" transform="translate(665 2712)" fill="#181c31"/>
                    <rect class="165" data-name="Rectangle 18165" width="3" height="3" rx="1.5" transform="translate(678 2712)" fill="#181c31"/>
                    <rect class="166" data-name="Rectangle 18166" width="3" height="3" rx="1.5" transform="translate(691 2712)" fill="#181c31"/>
                    <rect class="167" data-name="Rectangle 18167" width="3" height="3" rx="1.5" transform="translate(704 2712)" fill="#181c31"/>
                    <rect class="170" data-name="Rectangle 18170" width="3" height="3" rx="1.5" transform="translate(587 2725)" fill="#181c31"/>
                    <rect class="171" data-name="Rectangle 18171" width="3" height="3" rx="1.5" transform="translate(600 2725)" fill="#181c31"/>
                    <rect class="172" data-name="Rectangle 18172" width="3" height="3" rx="1.5" transform="translate(613 2725)" fill="#181c31"/>
                    <rect class="173" data-name="Rectangle 18173" width="3" height="3" rx="1.5" transform="translate(626 2725)" fill="#181c31"/>
                    <rect class="174" data-name="Rectangle 18174" width="3" height="3" rx="1.5" transform="translate(639 2725)" fill="#181c31"/>
                    <rect class="175" data-name="Rectangle 18175" width="3" height="3" rx="1.5" transform="translate(652 2725)" fill="#181c31"/>
                    <rect class="176" data-name="Rectangle 18176" width="3" height="3" rx="1.5" transform="translate(665 2725)" fill="#181c31"/>
                    <rect class="177" data-name="Rectangle 18177" width="3" height="3" rx="1.5" transform="translate(678 2725)" fill="#181c31"/>
                    <rect class="178" data-name="Rectangle 18178" width="3" height="3" rx="1.5" transform="translate(691 2725)" fill="#181c31"/>
                    <rect class="179" data-name="Rectangle 18179" width="3" height="3" rx="1.5" transform="translate(704 2725)" fill="#181c31"/>
                    <rect class="182" data-name="Rectangle 18182" width="3" height="3" rx="1.5" transform="translate(587 2738)" fill="#181c31"/>
                    <rect class="183" data-name="Rectangle 18183" width="3" height="3" rx="1.5" transform="translate(600 2738)" fill="#181c31"/>
                    <rect class="184" data-name="Rectangle 18184" width="3" height="3" rx="1.5" transform="translate(613 2738)" fill="#181c31"/>
                    <rect class="185" data-name="Rectangle 18185" width="3" height="3" rx="1.5" transform="translate(626 2738)" fill="#181c31"/>
                    <rect class="186" data-name="Rectangle 18186" width="3" height="3" rx="1.5" transform="translate(639 2738)" fill="#181c31"/>
                    <rect class="187" data-name="Rectangle 18187" width="3" height="3" rx="1.5" transform="translate(652 2738)" fill="#181c31"/>
                    <rect class="188" data-name="Rectangle 18188" width="3" height="3" rx="1.5" transform="translate(665 2738)" fill="#181c31"/>
                    <rect class="189" data-name="Rectangle 18189" width="3" height="3" rx="1.5" transform="translate(678 2738)" fill="#181c31"/>
                    <rect class="190" data-name="Rectangle 18190" width="3" height="3" rx="1.5" transform="translate(691 2738)" fill="#181c31"/>
                    <rect class="191" data-name="Rectangle 18191" width="3" height="3" rx="1.5" transform="translate(704 2738)" fill="#181c31"/>
                    <rect class="194" data-name="Rectangle 18194" width="3" height="3" rx="1.5" transform="translate(587 2751)" fill="#181c31"/>
                    <rect class="195" data-name="Rectangle 18195" width="3" height="3" rx="1.5" transform="translate(600 2751)" fill="#181c31"/>
                    <rect class="196" data-name="Rectangle 18196" width="3" height="3" rx="1.5" transform="translate(613 2751)" fill="#181c31"/>
                    <rect class="197" data-name="Rectangle 18197" width="3" height="3" rx="1.5" transform="translate(626 2751)" fill="#181c31"/>
                    <rect class="198" data-name="Rectangle 18198" width="3" height="3" rx="1.5" transform="translate(639 2751)" fill="#181c31"/>
                    <rect class="199" data-name="Rectangle 18199" width="3" height="3" rx="1.5" transform="translate(652 2751)" fill="#181c31"/>
                    <rect class="200" data-name="Rectangle 18200" width="3" height="3" rx="1.5" transform="translate(665 2751)" fill="#181c31"/>
                    <rect class="201" data-name="Rectangle 18201" width="3" height="3" rx="1.5" transform="translate(678 2751)" fill="#181c31"/>
                    <rect class="202" data-name="Rectangle 18202" width="3" height="3" rx="1.5" transform="translate(691 2751)" fill="#181c31"/>
                    <rect class="203" data-name="Rectangle 18203" width="3" height="3" rx="1.5" transform="translate(704 2751)" fill="#181c31"/>
                    <rect class="206" data-name="Rectangle 18206" width="3" height="3" rx="1.5" transform="translate(587 2764)" fill="#181c31"/>
                    <rect class="207" data-name="Rectangle 18207" width="3" height="3" rx="1.5" transform="translate(600 2764)" fill="#181c31"/>
                    <rect class="208" data-name="Rectangle 18208" width="3" height="3" rx="1.5" transform="translate(613 2764)" fill="#181c31"/>
                    <rect class="209" data-name="Rectangle 18209" width="3" height="3" rx="1.5" transform="translate(626 2764)" fill="#181c31"/>
                    <rect class="210" data-name="Rectangle 18210" width="3" height="3" rx="1.5" transform="translate(639 2764)" fill="#181c31"/>
                    <rect class="211" data-name="Rectangle 18211" width="3" height="3" rx="1.5" transform="translate(652 2764)" fill="#181c31"/>
                    <rect class="212" data-name="Rectangle 18212" width="3" height="3" rx="1.5" transform="translate(665 2764)" fill="#181c31"/>
                    <rect class="213" data-name="Rectangle 18213" width="3" height="3" rx="1.5" transform="translate(678 2764)" fill="#181c31"/>
                    <rect class="214" data-name="Rectangle 18214" width="3" height="3" rx="1.5" transform="translate(691 2764)" fill="#181c31"/>
                    <rect class="215" data-name="Rectangle 18215" width="3" height="3" rx="1.5" transform="translate(704 2764)" fill="#181c31"/>
                    <rect class="218" data-name="Rectangle 18218" width="3" height="3" rx="1.5" transform="translate(587 2777)" fill="#181c31"/>
                    <rect class="219" data-name="Rectangle 18219" width="3" height="3" rx="1.5" transform="translate(600 2777)" fill="#181c31"/>
                    <rect class="220" data-name="Rectangle 18220" width="3" height="3" rx="1.5" transform="translate(613 2777)" fill="#181c31"/>
                    <rect class="221" data-name="Rectangle 18221" width="3" height="3" rx="1.5" transform="translate(626 2777)" fill="#181c31"/>
                    <rect class="222" data-name="Rectangle 18222" width="3" height="3" rx="1.5" transform="translate(639 2777)" fill="#181c31"/>
                    <rect class="223" data-name="Rectangle 18223" width="3" height="3" rx="1.5" transform="translate(652 2777)" fill="#181c31"/>
                    <rect class="224" data-name="Rectangle 18224" width="3" height="3" rx="1.5" transform="translate(665 2777)" fill="#181c31"/>
                    <rect class="225" data-name="Rectangle 18225" width="3" height="3" rx="1.5" transform="translate(678 2777)" fill="#181c31"/>
                    <rect class="226" data-name="Rectangle 18226" width="3" height="3" rx="1.5" transform="translate(691 2777)" fill="#181c31"/>
                    <rect class="227" data-name="Rectangle 18227" width="3" height="3" rx="1.5" transform="translate(704 2777)" fill="#181c31"/>
                    <rect class="239" data-name="Rectangle 18239" width="3" height="3" rx="1.5" transform="translate(587 2790)" fill="#181c31"/>
                    <rect class="240" data-name="Rectangle 18240" width="3" height="3" rx="1.5" transform="translate(600 2790)" fill="#181c31"/>
                    <rect class="241" data-name="Rectangle 18241" width="3" height="3" rx="1.5" transform="translate(613 2790)" fill="#181c31"/>
                    <rect class="242" data-name="Rectangle 18242" width="3" height="3" rx="1.5" transform="translate(626 2790)" fill="#181c31"/>
                    <rect class="243" data-name="Rectangle 18243" width="3" height="3" rx="1.5" transform="translate(639 2790)" fill="#181c31"/>
                    <rect class="244" data-name="Rectangle 18244" width="3" height="3" rx="1.5" transform="translate(652 2790)" fill="#181c31"/>
                    <rect class="245" data-name="Rectangle 18245" width="3" height="3" rx="1.5" transform="translate(665 2790)" fill="#181c31"/>
                    <rect class="246" data-name="Rectangle 18246" width="3" height="3" rx="1.5" transform="translate(678 2790)" fill="#181c31"/>
                    <rect class="247" data-name="Rectangle 18247" width="3" height="3" rx="1.5" transform="translate(691 2790)" fill="#181c31"/>
                    <rect class="248" data-name="Rectangle 18248" width="3" height="3" rx="1.5" transform="translate(704 2790)" fill="#181c31"/>
                    </g>
                </svg>
            </div>
        </div>
    </div>
{% elseif parent == "achievements_style_3" %}
         <div class="col-lg-3 col-md-6">
        <div class="item">
            <div class="content">
                <div class="count"><span data-purecounter-start="0" data-purecounter-end="{{content.field_count.0}}" class="purecounter"></span><span>{{content.field_text_format.0}}</span></div>
                <span>{{content.field_title.0}}</span>
            </div>
        </div>
    </div>
{% endif %}
{# 


{{content.field_svg_icon.0}} #}