{% if fields.counter.content == '2' or fields.counter.content == '5' or fields.counter.content == '9'%}
<div class="col-lg-4 col-md-4 col-12 item {{fields.field_category_1.content}}">
   <div class="image h-large">
        <img src="{{fields.field_image.content}}" alt="{{fields.field_image_1.content}}">
        <div class="overlay">
            <div class="icon">
                <a href="{{fields.field_image.content}}" title="{{fields.field_image_1.content}}"><svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" viewBox="0 0 150 150">
                    <path  data-name="Path 40747" d="M154,79c0,6.912-.6,12.5-7.512,12.5H91.5v54.988c0,6.9-5.587,7.512-12.5,7.512s-12.5-.612-12.5-7.512V91.5H11.512C4.612,91.5,4,85.912,4,79s.612-12.5,7.512-12.5H66.5V11.512C66.5,4.6,72.088,4,79,4s12.5.6,12.5,7.512V66.5h54.988C153.4,66.5,154,72.088,154,79Z" transform="translate(-4 -4)" fill="#181c31"/>
                </svg></a>
            </div>    
        </div>
        <div class="title">
            <a href="{{fields.view_node.content}}" title="{{fields.title.content}}">{{fields.title.content}}</a> 
            <div class="category">{{fields.field_category.content}}</div>
        </div>
   </div>
</div>
{% elseif fields.counter.content == '3' or fields.counter.content == '6' or fields.counter.content == '10'%}
<div class="col-lg-4 col-md-4 col-12 item {{fields.field_category_1.content}}">
   <div class="image h-mid">
        <img src="{{fields.field_image.content}}" alt="{{fields.field_image_1.content}}">
        <div class="overlay">
            <div class="icon">
                <a href="{{fields.field_image.content}}" title="{{fields.field_image_1.content}}"><svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" viewBox="0 0 150 150">
                    <path  data-name="Path 40747" d="M154,79c0,6.912-.6,12.5-7.512,12.5H91.5v54.988c0,6.9-5.587,7.512-12.5,7.512s-12.5-.612-12.5-7.512V91.5H11.512C4.612,91.5,4,85.912,4,79s.612-12.5,7.512-12.5H66.5V11.512C66.5,4.6,72.088,4,79,4s12.5.6,12.5,7.512V66.5h54.988C153.4,66.5,154,72.088,154,79Z" transform="translate(-4 -4)" fill="#181c31"/>
                </svg></a>
            </div>    
            <div class="title">
                <a href="{{fields.view_node.content}}" title="{{fields.title.content}}">{{fields.title.content}}</a>
                <div class="category">{{fields.field_category.content}}</div>
            </div>
        </div> 
   </div>
</div>
{% else %}
<div class="col-lg-4 col-md-4 col-12 item {{fields.field_category_1.content}}">
   <div class="image">
        <img src="{{fields.field_image.content}}" alt="{{fields.field_image_1.content}}">
        <div class="overlay">
            <div class="icon">
                <a href="{{fields.field_image.content}}" title="{{fields.field_image_1.content}}"><svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" viewBox="0 0 150 150">
                    <path  data-name="Path 40747" d="M154,79c0,6.912-.6,12.5-7.512,12.5H91.5v54.988c0,6.9-5.587,7.512-12.5,7.512s-12.5-.612-12.5-7.512V91.5H11.512C4.612,91.5,4,85.912,4,79s.612-12.5,7.512-12.5H66.5V11.512C66.5,4.6,72.088,4,79,4s12.5.6,12.5,7.512V66.5h54.988C153.4,66.5,154,72.088,154,79Z" transform="translate(-4 -4)" fill="#181c31"/>
                </svg></a>
            </div>    
            <div class="title">
                <a href="{{fields.view_node.content}}" title="{{fields.title.content}}">{{fields.title.content}}</a>
                <div class="category">{{fields.field_category.content}}</div>
            </div>
        </div> 
   </div>
</div>
{% endif %}