<div class="sidebar-project-details">
    <div class="item">
        <h4>{{fields.field_label_1.content}}</h4>
        <span>{{fields.field_text_1.content}}</span>
    </div>
    <div class="item">
        <h4>{{fields.field_label_2.content}}</h4>
        <span>{{fields.field_category.content}}</span>
    </div>
    <div class="item">
        <h4>{{fields.field_label_3.content}}</h4>
        <span>{{fields.field_text_3.content}}</span>
    </div>
    <div class="item">
        <h4>{{fields.field_label_4.content}}</h4>
        <div class="addtoany-social-icons">
            {{drupal_block('addtoany_block')}}
        </div>
    </div>
</div>