<section class="blog-home-style-1 dt-section">
    <div class="container">
        <div class="title-1">
            <span>{{content.field_tagline.0}}</span>
            <h2>{{content.field_title.0}}</h2>
        </div>
        {{content.field_view.0}}
        <a class="btn btn-primary btn-style-1" href='{{content.field_link.0['#url']}}' title="{{content.field_link.0['#title']}}">{{content.field_link.0['#title']}}</a>
    </div>
</section>