{% set paragraph_parent = paragraph.getParentEntity() %}
{% set parent = paragraph_parent.type.value[0].target_id %}
{% if parent == "work_process_style_1" %}
    <div class="col-lg-3 col-md-6 col-12">
        <div class="item">
            <div class="title-wrapper">
                <span>{{content.field_text.0}}</span>
                <h4>{{content.field_title.0}}</h4>
            </div>
            {{content.field_formatted_description.0}}
        </div>
    </div>
{% elseif parent == "work_process_style_2" %}
    {% if content.field_layout.0['#markup'] == 'Left' %}
    <div class="item">
        <div class="row s-35">
            <div class="col-lg-6 col-12">
                <div class="image">
                    <img src="{{file_url(content.field_image['#items'].entity.uri.value)}}" alt="{{content.field_image['#items'].alt}}">
                    <div class="overlay">
                        <svg xmlns="http://www.w3.org/2000/svg" width="146" height="133" viewBox="0 0 146 133">
                        <g  data-name="Group 144" transform="translate(-894 -2211)">
                            <rect  data-name="Rectangle 18122" width="3" height="3" rx="1.5" transform="translate(894 2211)" fill="#181c31"/>
                            <rect  data-name="Rectangle 18123" width="3" height="3" rx="1.5" transform="translate(907 2211)" fill="#181c31"/>
                            <rect  data-name="Rectangle 18124" width="3" height="3" rx="1.5" transform="translate(920 2211)" fill="#181c31"/>
                            <rect  data-name="Rectangle 18125" width="3" height="3" rx="1.5" transform="translate(933 2211)" fill="#181c31"/>
                            <rect  data-name="Rectangle 18126" width="3" height="3" rx="1.5" transform="translate(946 2211)" fill="#181c31"/>
                            <rect  data-name="Rectangle 18127" width="3" height="3" rx="1.5" transform="translate(959 2211)" fill="#181c31"/>
                            <rect  data-name="Rectangle 18128" width="3" height="3" rx="1.5" transform="translate(972 2211)" fill="#181c31"/>
                            <rect  data-name="Rectangle 18129" width="3" height="3" rx="1.5" transform="translate(985 2211)" fill="#181c31"/>
                            <rect  data-name="Rectangle 18130" width="3" height="3" rx="1.5" transform="translate(998 2211)" fill="#181c31"/>
                            <rect  data-name="Rectangle 18131" width="3" height="3" rx="1.5" transform="translate(1011 2211)" fill="#181c31"/>
                            <rect  data-name="Rectangle 18132" width="3" height="3" rx="1.5" transform="translate(1024 2211)" fill="#181c31"/>
                            <rect  data-name="Rectangle 18133" width="3" height="3" rx="1.5" transform="translate(1037 2211)" fill="#181c31"/>
                            <rect  data-name="Rectangle 18134" width="3" height="3" rx="1.5" transform="translate(894 2224)" fill="#181c31"/>
                            <rect  data-name="Rectangle 18135" width="3" height="3" rx="1.5" transform="translate(907 2224)" fill="#181c31"/>
                            <rect  data-name="Rectangle 18136" width="3" height="3" rx="1.5" transform="translate(920 2224)" fill="#181c31"/>
                            <rect  data-name="Rectangle 18137" width="3" height="3" rx="1.5" transform="translate(933 2224)" fill="#181c31"/>
                            <rect  data-name="Rectangle 18138" width="3" height="3" rx="1.5" transform="translate(946 2224)" fill="#181c31"/>
                            <rect  data-name="Rectangle 18139" width="3" height="3" rx="1.5" transform="translate(959 2224)" fill="#181c31"/>
                            <rect  data-name="Rectangle 18140" width="3" height="3" rx="1.5" transform="translate(972 2224)" fill="#181c31"/>
                            <rect class="141" data-name="Rectangle 18141" width="3" height="3" rx="1.5" transform="translate(985 2224)" fill="#181c31"/>
                            <rect class="142" data-name="Rectangle 18142" width="3" height="3" rx="1.5" transform="translate(998 2224)" fill="#181c31"/>
                            <rect class="143" data-name="Rectangle 18143" width="3" height="3" rx="1.5" transform="translate(1011 2224)" fill="#181c31"/>
                            <rect class="144" data-name="Rectangle 18144" width="3" height="3" rx="1.5" transform="translate(1024 2224)" fill="#181c31"/>
                            <rect class="145" data-name="Rectangle 18145" width="3" height="3" rx="1.5" transform="translate(1037 2224)" fill="#181c31"/>
                            <rect class="146" data-name="Rectangle 18146" width="3" height="3" rx="1.5" transform="translate(894 2237)" fill="#181c31"/>
                            <rect class="147" data-name="Rectangle 18147" width="3" height="3" rx="1.5" transform="translate(907 2237)" fill="#181c31"/>
                            <rect class="148" data-name="Rectangle 18148" width="3" height="3" rx="1.5" transform="translate(920 2237)" fill="#181c31"/>
                            <rect class="149" data-name="Rectangle 18149" width="3" height="3" rx="1.5" transform="translate(933 2237)" fill="#181c31"/>
                            <rect class="150" data-name="Rectangle 18150" width="3" height="3" rx="1.5" transform="translate(946 2237)" fill="#181c31"/>
                            <rect class="151" data-name="Rectangle 18151" width="3" height="3" rx="1.5" transform="translate(959 2237)" fill="#181c31"/>
                            <rect class="152" data-name="Rectangle 18152" width="3" height="3" rx="1.5" transform="translate(972 2237)" fill="#181c31"/>
                            <rect class="153" data-name="Rectangle 18153" width="3" height="3" rx="1.5" transform="translate(985 2237)" fill="#181c31"/>
                            <rect class="154" data-name="Rectangle 18154" width="3" height="3" rx="1.5" transform="translate(998 2237)" fill="#181c31"/>
                            <rect class="155" data-name="Rectangle 18155" width="3" height="3" rx="1.5" transform="translate(1011 2237)" fill="#181c31"/>
                            <rect class="156" data-name="Rectangle 18156" width="3" height="3" rx="1.5" transform="translate(1024 2237)" fill="#181c31"/>
                            <rect class="157" data-name="Rectangle 18157" width="3" height="3" rx="1.5" transform="translate(1037 2237)" fill="#181c31"/>
                            <rect class="158" data-name="Rectangle 18158" width="3" height="3" rx="1.5" transform="translate(894 2250)" fill="#181c31"/>
                            <rect class="159" data-name="Rectangle 18159" width="3" height="3" rx="1.5" transform="translate(907 2250)" fill="#181c31"/>
                            <rect class="160" data-name="Rectangle 18160" width="3" height="3" rx="1.5" transform="translate(920 2250)" fill="#181c31"/>
                            <rect class="161" data-name="Rectangle 18161" width="3" height="3" rx="1.5" transform="translate(933 2250)" fill="#181c31"/>
                            <rect class="162" data-name="Rectangle 18162" width="3" height="3" rx="1.5" transform="translate(946 2250)" fill="#181c31"/>
                            <rect class="163" data-name="Rectangle 18163" width="3" height="3" rx="1.5" transform="translate(959 2250)" fill="#181c31"/>
                            <rect class="164" data-name="Rectangle 18164" width="3" height="3" rx="1.5" transform="translate(972 2250)" fill="#181c31"/>
                            <rect class="165" data-name="Rectangle 18165" width="3" height="3" rx="1.5" transform="translate(985 2250)" fill="#181c31"/>
                            <rect class="166" data-name="Rectangle 18166" width="3" height="3" rx="1.5" transform="translate(998 2250)" fill="#181c31"/>
                            <rect class="167" data-name="Rectangle 18167" width="3" height="3" rx="1.5" transform="translate(1011 2250)" fill="#181c31"/>
                            <rect class="168" data-name="Rectangle 18168" width="3" height="3" rx="1.5" transform="translate(1024 2250)" fill="#181c31"/>
                            <rect class="169" data-name="Rectangle 18169" width="3" height="3" rx="1.5" transform="translate(1037 2250)" fill="#181c31"/>
                            <rect class="170" data-name="Rectangle 18170" width="3" height="3" rx="1.5" transform="translate(894 2263)" fill="#181c31"/>
                            <rect class="171" data-name="Rectangle 18171" width="3" height="3" rx="1.5" transform="translate(907 2263)" fill="#181c31"/>
                            <rect class="172" data-name="Rectangle 18172" width="3" height="3" rx="1.5" transform="translate(920 2263)" fill="#181c31"/>
                            <rect class="173" data-name="Rectangle 18173" width="3" height="3" rx="1.5" transform="translate(933 2263)" fill="#181c31"/>
                            <rect class="174" data-name="Rectangle 18174" width="3" height="3" rx="1.5" transform="translate(946 2263)" fill="#181c31"/>
                            <rect class="175" data-name="Rectangle 18175" width="3" height="3" rx="1.5" transform="translate(959 2263)" fill="#181c31"/>
                            <rect class="176" data-name="Rectangle 18176" width="3" height="3" rx="1.5" transform="translate(972 2263)" fill="#181c31"/>
                            <rect class="177" data-name="Rectangle 18177" width="3" height="3" rx="1.5" transform="translate(985 2263)" fill="#181c31"/>
                            <rect class="178" data-name="Rectangle 18178" width="3" height="3" rx="1.5" transform="translate(998 2263)" fill="#181c31"/>
                            <rect class="179" data-name="Rectangle 18179" width="3" height="3" rx="1.5" transform="translate(1011 2263)" fill="#181c31"/>
                            <rect class="180" data-name="Rectangle 18180" width="3" height="3" rx="1.5" transform="translate(1024 2263)" fill="#181c31"/>
                            <rect class="181" data-name="Rectangle 18181" width="3" height="3" rx="1.5" transform="translate(1037 2263)" fill="#181c31"/>
                            <rect class="182" data-name="Rectangle 18182" width="3" height="3" rx="1.5" transform="translate(894 2276)" fill="#181c31"/>
                            <rect class="183" data-name="Rectangle 18183" width="3" height="3" rx="1.5" transform="translate(907 2276)" fill="#181c31"/>
                            <rect class="184" data-name="Rectangle 18184" width="3" height="3" rx="1.5" transform="translate(920 2276)" fill="#181c31"/>
                            <rect class="185" data-name="Rectangle 18185" width="3" height="3" rx="1.5" transform="translate(933 2276)" fill="#181c31"/>
                            <rect class="186" data-name="Rectangle 18186" width="3" height="3" rx="1.5" transform="translate(946 2276)" fill="#181c31"/>
                            <rect class="187" data-name="Rectangle 18187" width="3" height="3" rx="1.5" transform="translate(959 2276)" fill="#181c31"/>
                            <rect class="188" data-name="Rectangle 18188" width="3" height="3" rx="1.5" transform="translate(972 2276)" fill="#181c31"/>
                            <rect class="189" data-name="Rectangle 18189" width="3" height="3" rx="1.5" transform="translate(985 2276)" fill="#181c31"/>
                            <rect class="190" data-name="Rectangle 18190" width="3" height="3" rx="1.5" transform="translate(998 2276)" fill="#181c31"/>
                            <rect class="191" data-name="Rectangle 18191" width="3" height="3" rx="1.5" transform="translate(1011 2276)" fill="#181c31"/>
                            <rect class="192" data-name="Rectangle 18192" width="3" height="3" rx="1.5" transform="translate(1024 2276)" fill="#181c31"/>
                            <rect class="193" data-name="Rectangle 18193" width="3" height="3" rx="1.5" transform="translate(1037 2276)" fill="#181c31"/>
                            <rect class="194" data-name="Rectangle 18194" width="3" height="3" rx="1.5" transform="translate(894 2289)" fill="#181c31"/>
                            <rect class="195" data-name="Rectangle 18195" width="3" height="3" rx="1.5" transform="translate(907 2289)" fill="#181c31"/>
                            <rect class="196" data-name="Rectangle 18196" width="3" height="3" rx="1.5" transform="translate(920 2289)" fill="#181c31"/>
                            <rect class="197" data-name="Rectangle 18197" width="3" height="3" rx="1.5" transform="translate(933 2289)" fill="#181c31"/>
                            <rect class="198" data-name="Rectangle 18198" width="3" height="3" rx="1.5" transform="translate(946 2289)" fill="#181c31"/>
                            <rect class="199" data-name="Rectangle 18199" width="3" height="3" rx="1.5" transform="translate(959 2289)" fill="#181c31"/>
                            <rect class="200" data-name="Rectangle 18200" width="3" height="3" rx="1.5" transform="translate(972 2289)" fill="#181c31"/>
                            <rect class="201" data-name="Rectangle 18201" width="3" height="3" rx="1.5" transform="translate(985 2289)" fill="#181c31"/>
                            <rect class="202" data-name="Rectangle 18202" width="3" height="3" rx="1.5" transform="translate(998 2289)" fill="#181c31"/>
                            <rect class="203" data-name="Rectangle 18203" width="3" height="3" rx="1.5" transform="translate(1011 2289)" fill="#181c31"/>
                            <rect class="204" data-name="Rectangle 18204" width="3" height="3" rx="1.5" transform="translate(1024 2289)" fill="#181c31"/>
                            <rect class="205" data-name="Rectangle 18205" width="3" height="3" rx="1.5" transform="translate(1037 2289)" fill="#181c31"/>
                            <rect class="206" data-name="Rectangle 18206" width="3" height="3" rx="1.5" transform="translate(894 2302)" fill="#181c31"/>
                            <rect class="207" data-name="Rectangle 18207" width="3" height="3" rx="1.5" transform="translate(907 2302)" fill="#181c31"/>
                            <rect class="208" data-name="Rectangle 18208" width="3" height="3" rx="1.5" transform="translate(920 2302)" fill="#181c31"/>
                            <rect class="209" data-name="Rectangle 18209" width="3" height="3" rx="1.5" transform="translate(933 2302)" fill="#181c31"/>
                            <rect class="210" data-name="Rectangle 18210" width="3" height="3" rx="1.5" transform="translate(946 2302)" fill="#181c31"/>
                            <rect class="211" data-name="Rectangle 18211" width="3" height="3" rx="1.5" transform="translate(959 2302)" fill="#181c31"/>
                            <rect class="212" data-name="Rectangle 18212" width="3" height="3" rx="1.5" transform="translate(972 2302)" fill="#181c31"/>
                            <rect class="213" data-name="Rectangle 18213" width="3" height="3" rx="1.5" transform="translate(985 2302)" fill="#181c31"/>
                            <rect class="214" data-name="Rectangle 18214" width="3" height="3" rx="1.5" transform="translate(998 2302)" fill="#181c31"/>
                            <rect class="215" data-name="Rectangle 18215" width="3" height="3" rx="1.5" transform="translate(1011 2302)" fill="#181c31"/>
                            <rect class="216" data-name="Rectangle 18216" width="3" height="3" rx="1.5" transform="translate(1024 2302)" fill="#181c31"/>
                            <rect class="217" data-name="Rectangle 18217" width="3" height="3" rx="1.5" transform="translate(1037 2302)" fill="#181c31"/>
                            <rect class="218" data-name="Rectangle 18218" width="3" height="3" rx="1.5" transform="translate(894 2315)" fill="#181c31"/>
                            <rect class="219" data-name="Rectangle 18219" width="3" height="3" rx="1.5" transform="translate(907 2315)" fill="#181c31"/>
                            <rect class="220" data-name="Rectangle 18220" width="3" height="3" rx="1.5" transform="translate(920 2315)" fill="#181c31"/>
                            <rect class="221" data-name="Rectangle 18221" width="3" height="3" rx="1.5" transform="translate(933 2315)" fill="#181c31"/>
                            <rect class="222" data-name="Rectangle 18222" width="3" height="3" rx="1.5" transform="translate(946 2315)" fill="#181c31"/>
                            <rect class="223" data-name="Rectangle 18223" width="3" height="3" rx="1.5" transform="translate(959 2315)" fill="#181c31"/>
                            <rect class="224" data-name="Rectangle 18224" width="3" height="3" rx="1.5" transform="translate(972 2315)" fill="#181c31"/>
                            <rect class="225" data-name="Rectangle 18225" width="3" height="3" rx="1.5" transform="translate(985 2315)" fill="#181c31"/>
                            <rect class="226" data-name="Rectangle 18226" width="3" height="3" rx="1.5" transform="translate(998 2315)" fill="#181c31"/>
                            <rect class="227" data-name="Rectangle 18227" width="3" height="3" rx="1.5" transform="translate(1011 2315)" fill="#181c31"/>
                            <rect class="228" data-name="Rectangle 18228" width="3" height="3" rx="1.5" transform="translate(1024 2315)" fill="#181c31"/>
                            <rect class="229" data-name="Rectangle 18229" width="3" height="3" rx="1.5" transform="translate(1037 2315)" fill="#181c31"/>
                            <rect class="239" data-name="Rectangle 18239" width="3" height="3" rx="1.5" transform="translate(894 2328)" fill="#181c31"/>
                            <rect class="240" data-name="Rectangle 18240" width="3" height="3" rx="1.5" transform="translate(907 2328)" fill="#181c31"/>
                            <rect class="241" data-name="Rectangle 18241" width="3" height="3" rx="1.5" transform="translate(920 2328)" fill="#181c31"/>
                            <rect class="242" data-name="Rectangle 18242" width="3" height="3" rx="1.5" transform="translate(933 2328)" fill="#181c31"/>
                            <rect class="243" data-name="Rectangle 18243" width="3" height="3" rx="1.5" transform="translate(946 2328)" fill="#181c31"/>
                            <rect class="244" data-name="Rectangle 18244" width="3" height="3" rx="1.5" transform="translate(959 2328)" fill="#181c31"/>
                            <rect class="245" data-name="Rectangle 18245" width="3" height="3" rx="1.5" transform="translate(972 2328)" fill="#181c31"/>
                            <rect class="246" data-name="Rectangle 18246" width="3" height="3" rx="1.5" transform="translate(985 2328)" fill="#181c31"/>
                            <rect class="247" data-name="Rectangle 18247" width="3" height="3" rx="1.5" transform="translate(998 2328)" fill="#181c31"/>
                            <rect class="248" data-name="Rectangle 18248" width="3" height="3" rx="1.5" transform="translate(1011 2328)" fill="#181c31"/>
                            <rect class="249" data-name="Rectangle 18249" width="3" height="3" rx="1.5" transform="translate(1024 2328)" fill="#181c31"/>
                            <rect class="250" data-name="Rectangle 18250" width="3" height="3" rx="1.5" transform="translate(1037 2328)" fill="#181c31"/>
                            <rect class="251" data-name="Rectangle 18251" width="3" height="3" rx="1.5" transform="translate(894 2341)" fill="#181c31"/>
                            <rect class="252" data-name="Rectangle 18252" width="3" height="3" rx="1.5" transform="translate(907 2341)" fill="#181c31"/>
                            <rect class="253" data-name="Rectangle 18253" width="3" height="3" rx="1.5" transform="translate(920 2341)" fill="#181c31"/>
                            <rect class="254" data-name="Rectangle 18254" width="3" height="3" rx="1.5" transform="translate(933 2341)" fill="#181c31"/>
                            <rect class="255" data-name="Rectangle 18255" width="3" height="3" rx="1.5" transform="translate(946 2341)" fill="#181c31"/>
                            <rect class="256" data-name="Rectangle 18256" width="3" height="3" rx="1.5" transform="translate(959 2341)" fill="#181c31"/>
                            <rect class="257" data-name="Rectangle 18257" width="3" height="3" rx="1.5" transform="translate(972 2341)" fill="#181c31"/>
                            <rect class="258" data-name="Rectangle 18258" width="3" height="3" rx="1.5" transform="translate(985 2341)" fill="#181c31"/>
                            <rect class="259" data-name="Rectangle 18259" width="3" height="3" rx="1.5" transform="translate(998 2341)" fill="#181c31"/>
                            <rect class="260" data-name="Rectangle 18260" width="3" height="3" rx="1.5" transform="translate(1011 2341)" fill="#181c31"/>
                            <rect class="261" data-name="Rectangle 18261" width="3" height="3" rx="1.5" transform="translate(1024 2341)" fill="#181c31"/>
                            <rect class="262" data-name="Rectangle 18262" width="3" height="3" rx="1.5" transform="translate(1037 2341)" fill="#181c31"/>
                        </g>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="content">
                    <h2>{{content.field_title.0}}</h2>
                    {{content.field_formatted_description.0}}
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="item two">
        <div class="row s-35">
            <div class="col-lg-6 col-12">
                <div class="content">
                    <h2>{{content.field_title.0}}</h2>
                    {{content.field_formatted_description.0}}
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="image">
                    <img src="{{file_url(content.field_image['#items'].entity.uri.value)}}" alt="{{content.field_image['#items'].alt}}">
                    <div class="overlay">
                        <svg xmlns="http://www.w3.org/2000/svg" width="146" height="133" viewBox="0 0 146 133">
                            <g  data-name="Group 144" transform="translate(-894 -2211)">
                                <rect  data-name="Rectangle 18122" width="3" height="3" rx="1.5" transform="translate(894 2211)" fill="#181c31"/>
                                <rect  data-name="Rectangle 18123" width="3" height="3" rx="1.5" transform="translate(907 2211)" fill="#181c31"/>
                                <rect  data-name="Rectangle 18124" width="3" height="3" rx="1.5" transform="translate(920 2211)" fill="#181c31"/>
                                <rect  data-name="Rectangle 18125" width="3" height="3" rx="1.5" transform="translate(933 2211)" fill="#181c31"/>
                                <rect  data-name="Rectangle 18126" width="3" height="3" rx="1.5" transform="translate(946 2211)" fill="#181c31"/>
                                <rect  data-name="Rectangle 18127" width="3" height="3" rx="1.5" transform="translate(959 2211)" fill="#181c31"/>
                                <rect  data-name="Rectangle 18128" width="3" height="3" rx="1.5" transform="translate(972 2211)" fill="#181c31"/>
                                <rect  data-name="Rectangle 18129" width="3" height="3" rx="1.5" transform="translate(985 2211)" fill="#181c31"/>
                                <rect  data-name="Rectangle 18130" width="3" height="3" rx="1.5" transform="translate(998 2211)" fill="#181c31"/>
                                <rect  data-name="Rectangle 18131" width="3" height="3" rx="1.5" transform="translate(1011 2211)" fill="#181c31"/>
                                <rect  data-name="Rectangle 18132" width="3" height="3" rx="1.5" transform="translate(1024 2211)" fill="#181c31"/>
                                <rect  data-name="Rectangle 18133" width="3" height="3" rx="1.5" transform="translate(1037 2211)" fill="#181c31"/>
                                <rect  data-name="Rectangle 18134" width="3" height="3" rx="1.5" transform="translate(894 2224)" fill="#181c31"/>
                                <rect  data-name="Rectangle 18135" width="3" height="3" rx="1.5" transform="translate(907 2224)" fill="#181c31"/>
                                <rect  data-name="Rectangle 18136" width="3" height="3" rx="1.5" transform="translate(920 2224)" fill="#181c31"/>
                                <rect  data-name="Rectangle 18137" width="3" height="3" rx="1.5" transform="translate(933 2224)" fill="#181c31"/>
                                <rect  data-name="Rectangle 18138" width="3" height="3" rx="1.5" transform="translate(946 2224)" fill="#181c31"/>
                                <rect  data-name="Rectangle 18139" width="3" height="3" rx="1.5" transform="translate(959 2224)" fill="#181c31"/>
                                <rect  data-name="Rectangle 18140" width="3" height="3" rx="1.5" transform="translate(972 2224)" fill="#181c31"/>
                                <rect class="141" data-name="Rectangle 18141" width="3" height="3" rx="1.5" transform="translate(985 2224)" fill="#181c31"/>
                                <rect class="142" data-name="Rectangle 18142" width="3" height="3" rx="1.5" transform="translate(998 2224)" fill="#181c31"/>
                                <rect class="143" data-name="Rectangle 18143" width="3" height="3" rx="1.5" transform="translate(1011 2224)" fill="#181c31"/>
                                <rect class="144" data-name="Rectangle 18144" width="3" height="3" rx="1.5" transform="translate(1024 2224)" fill="#181c31"/>
                                <rect class="145" data-name="Rectangle 18145" width="3" height="3" rx="1.5" transform="translate(1037 2224)" fill="#181c31"/>
                                <rect class="146" data-name="Rectangle 18146" width="3" height="3" rx="1.5" transform="translate(894 2237)" fill="#181c31"/>
                                <rect class="147" data-name="Rectangle 18147" width="3" height="3" rx="1.5" transform="translate(907 2237)" fill="#181c31"/>
                                <rect class="148" data-name="Rectangle 18148" width="3" height="3" rx="1.5" transform="translate(920 2237)" fill="#181c31"/>
                                <rect class="149" data-name="Rectangle 18149" width="3" height="3" rx="1.5" transform="translate(933 2237)" fill="#181c31"/>
                                <rect class="150" data-name="Rectangle 18150" width="3" height="3" rx="1.5" transform="translate(946 2237)" fill="#181c31"/>
                                <rect class="151" data-name="Rectangle 18151" width="3" height="3" rx="1.5" transform="translate(959 2237)" fill="#181c31"/>
                                <rect class="152" data-name="Rectangle 18152" width="3" height="3" rx="1.5" transform="translate(972 2237)" fill="#181c31"/>
                                <rect class="153" data-name="Rectangle 18153" width="3" height="3" rx="1.5" transform="translate(985 2237)" fill="#181c31"/>
                                <rect class="154" data-name="Rectangle 18154" width="3" height="3" rx="1.5" transform="translate(998 2237)" fill="#181c31"/>
                                <rect class="155" data-name="Rectangle 18155" width="3" height="3" rx="1.5" transform="translate(1011 2237)" fill="#181c31"/>
                                <rect class="156" data-name="Rectangle 18156" width="3" height="3" rx="1.5" transform="translate(1024 2237)" fill="#181c31"/>
                                <rect class="157" data-name="Rectangle 18157" width="3" height="3" rx="1.5" transform="translate(1037 2237)" fill="#181c31"/>
                                <rect class="158" data-name="Rectangle 18158" width="3" height="3" rx="1.5" transform="translate(894 2250)" fill="#181c31"/>
                                <rect class="159" data-name="Rectangle 18159" width="3" height="3" rx="1.5" transform="translate(907 2250)" fill="#181c31"/>
                                <rect class="160" data-name="Rectangle 18160" width="3" height="3" rx="1.5" transform="translate(920 2250)" fill="#181c31"/>
                                <rect class="161" data-name="Rectangle 18161" width="3" height="3" rx="1.5" transform="translate(933 2250)" fill="#181c31"/>
                                <rect class="162" data-name="Rectangle 18162" width="3" height="3" rx="1.5" transform="translate(946 2250)" fill="#181c31"/>
                                <rect class="163" data-name="Rectangle 18163" width="3" height="3" rx="1.5" transform="translate(959 2250)" fill="#181c31"/>
                                <rect class="164" data-name="Rectangle 18164" width="3" height="3" rx="1.5" transform="translate(972 2250)" fill="#181c31"/>
                                <rect class="165" data-name="Rectangle 18165" width="3" height="3" rx="1.5" transform="translate(985 2250)" fill="#181c31"/>
                                <rect class="166" data-name="Rectangle 18166" width="3" height="3" rx="1.5" transform="translate(998 2250)" fill="#181c31"/>
                                <rect class="167" data-name="Rectangle 18167" width="3" height="3" rx="1.5" transform="translate(1011 2250)" fill="#181c31"/>
                                <rect class="168" data-name="Rectangle 18168" width="3" height="3" rx="1.5" transform="translate(1024 2250)" fill="#181c31"/>
                                <rect class="169" data-name="Rectangle 18169" width="3" height="3" rx="1.5" transform="translate(1037 2250)" fill="#181c31"/>
                                <rect class="170" data-name="Rectangle 18170" width="3" height="3" rx="1.5" transform="translate(894 2263)" fill="#181c31"/>
                                <rect class="171" data-name="Rectangle 18171" width="3" height="3" rx="1.5" transform="translate(907 2263)" fill="#181c31"/>
                                <rect class="172" data-name="Rectangle 18172" width="3" height="3" rx="1.5" transform="translate(920 2263)" fill="#181c31"/>
                                <rect class="173" data-name="Rectangle 18173" width="3" height="3" rx="1.5" transform="translate(933 2263)" fill="#181c31"/>
                                <rect class="174" data-name="Rectangle 18174" width="3" height="3" rx="1.5" transform="translate(946 2263)" fill="#181c31"/>
                                <rect class="175" data-name="Rectangle 18175" width="3" height="3" rx="1.5" transform="translate(959 2263)" fill="#181c31"/>
                                <rect class="176" data-name="Rectangle 18176" width="3" height="3" rx="1.5" transform="translate(972 2263)" fill="#181c31"/>
                                <rect class="177" data-name="Rectangle 18177" width="3" height="3" rx="1.5" transform="translate(985 2263)" fill="#181c31"/>
                                <rect class="178" data-name="Rectangle 18178" width="3" height="3" rx="1.5" transform="translate(998 2263)" fill="#181c31"/>
                                <rect class="179" data-name="Rectangle 18179" width="3" height="3" rx="1.5" transform="translate(1011 2263)" fill="#181c31"/>
                                <rect class="180" data-name="Rectangle 18180" width="3" height="3" rx="1.5" transform="translate(1024 2263)" fill="#181c31"/>
                                <rect class="181" data-name="Rectangle 18181" width="3" height="3" rx="1.5" transform="translate(1037 2263)" fill="#181c31"/>
                                <rect class="182" data-name="Rectangle 18182" width="3" height="3" rx="1.5" transform="translate(894 2276)" fill="#181c31"/>
                                <rect class="183" data-name="Rectangle 18183" width="3" height="3" rx="1.5" transform="translate(907 2276)" fill="#181c31"/>
                                <rect class="184" data-name="Rectangle 18184" width="3" height="3" rx="1.5" transform="translate(920 2276)" fill="#181c31"/>
                                <rect class="185" data-name="Rectangle 18185" width="3" height="3" rx="1.5" transform="translate(933 2276)" fill="#181c31"/>
                                <rect class="186" data-name="Rectangle 18186" width="3" height="3" rx="1.5" transform="translate(946 2276)" fill="#181c31"/>
                                <rect class="187" data-name="Rectangle 18187" width="3" height="3" rx="1.5" transform="translate(959 2276)" fill="#181c31"/>
                                <rect class="188" data-name="Rectangle 18188" width="3" height="3" rx="1.5" transform="translate(972 2276)" fill="#181c31"/>
                                <rect class="189" data-name="Rectangle 18189" width="3" height="3" rx="1.5" transform="translate(985 2276)" fill="#181c31"/>
                                <rect class="190" data-name="Rectangle 18190" width="3" height="3" rx="1.5" transform="translate(998 2276)" fill="#181c31"/>
                                <rect class="191" data-name="Rectangle 18191" width="3" height="3" rx="1.5" transform="translate(1011 2276)" fill="#181c31"/>
                                <rect class="192" data-name="Rectangle 18192" width="3" height="3" rx="1.5" transform="translate(1024 2276)" fill="#181c31"/>
                                <rect class="193" data-name="Rectangle 18193" width="3" height="3" rx="1.5" transform="translate(1037 2276)" fill="#181c31"/>
                                <rect class="194" data-name="Rectangle 18194" width="3" height="3" rx="1.5" transform="translate(894 2289)" fill="#181c31"/>
                                <rect class="195" data-name="Rectangle 18195" width="3" height="3" rx="1.5" transform="translate(907 2289)" fill="#181c31"/>
                                <rect class="196" data-name="Rectangle 18196" width="3" height="3" rx="1.5" transform="translate(920 2289)" fill="#181c31"/>
                                <rect class="197" data-name="Rectangle 18197" width="3" height="3" rx="1.5" transform="translate(933 2289)" fill="#181c31"/>
                                <rect class="198" data-name="Rectangle 18198" width="3" height="3" rx="1.5" transform="translate(946 2289)" fill="#181c31"/>
                                <rect class="199" data-name="Rectangle 18199" width="3" height="3" rx="1.5" transform="translate(959 2289)" fill="#181c31"/>
                                <rect class="200" data-name="Rectangle 18200" width="3" height="3" rx="1.5" transform="translate(972 2289)" fill="#181c31"/>
                                <rect class="201" data-name="Rectangle 18201" width="3" height="3" rx="1.5" transform="translate(985 2289)" fill="#181c31"/>
                                <rect class="202" data-name="Rectangle 18202" width="3" height="3" rx="1.5" transform="translate(998 2289)" fill="#181c31"/>
                                <rect class="203" data-name="Rectangle 18203" width="3" height="3" rx="1.5" transform="translate(1011 2289)" fill="#181c31"/>
                                <rect class="204" data-name="Rectangle 18204" width="3" height="3" rx="1.5" transform="translate(1024 2289)" fill="#181c31"/>
                                <rect class="205" data-name="Rectangle 18205" width="3" height="3" rx="1.5" transform="translate(1037 2289)" fill="#181c31"/>
                                <rect class="206" data-name="Rectangle 18206" width="3" height="3" rx="1.5" transform="translate(894 2302)" fill="#181c31"/>
                                <rect class="207" data-name="Rectangle 18207" width="3" height="3" rx="1.5" transform="translate(907 2302)" fill="#181c31"/>
                                <rect class="208" data-name="Rectangle 18208" width="3" height="3" rx="1.5" transform="translate(920 2302)" fill="#181c31"/>
                                <rect class="209" data-name="Rectangle 18209" width="3" height="3" rx="1.5" transform="translate(933 2302)" fill="#181c31"/>
                                <rect class="210" data-name="Rectangle 18210" width="3" height="3" rx="1.5" transform="translate(946 2302)" fill="#181c31"/>
                                <rect class="211" data-name="Rectangle 18211" width="3" height="3" rx="1.5" transform="translate(959 2302)" fill="#181c31"/>
                                <rect class="212" data-name="Rectangle 18212" width="3" height="3" rx="1.5" transform="translate(972 2302)" fill="#181c31"/>
                                <rect class="213" data-name="Rectangle 18213" width="3" height="3" rx="1.5" transform="translate(985 2302)" fill="#181c31"/>
                                <rect class="214" data-name="Rectangle 18214" width="3" height="3" rx="1.5" transform="translate(998 2302)" fill="#181c31"/>
                                <rect class="215" data-name="Rectangle 18215" width="3" height="3" rx="1.5" transform="translate(1011 2302)" fill="#181c31"/>
                                <rect class="216" data-name="Rectangle 18216" width="3" height="3" rx="1.5" transform="translate(1024 2302)" fill="#181c31"/>
                                <rect class="217" data-name="Rectangle 18217" width="3" height="3" rx="1.5" transform="translate(1037 2302)" fill="#181c31"/>
                                <rect class="218" data-name="Rectangle 18218" width="3" height="3" rx="1.5" transform="translate(894 2315)" fill="#181c31"/>
                                <rect class="219" data-name="Rectangle 18219" width="3" height="3" rx="1.5" transform="translate(907 2315)" fill="#181c31"/>
                                <rect class="220" data-name="Rectangle 18220" width="3" height="3" rx="1.5" transform="translate(920 2315)" fill="#181c31"/>
                                <rect class="221" data-name="Rectangle 18221" width="3" height="3" rx="1.5" transform="translate(933 2315)" fill="#181c31"/>
                                <rect class="222" data-name="Rectangle 18222" width="3" height="3" rx="1.5" transform="translate(946 2315)" fill="#181c31"/>
                                <rect class="223" data-name="Rectangle 18223" width="3" height="3" rx="1.5" transform="translate(959 2315)" fill="#181c31"/>
                                <rect class="224" data-name="Rectangle 18224" width="3" height="3" rx="1.5" transform="translate(972 2315)" fill="#181c31"/>
                                <rect class="225" data-name="Rectangle 18225" width="3" height="3" rx="1.5" transform="translate(985 2315)" fill="#181c31"/>
                                <rect class="226" data-name="Rectangle 18226" width="3" height="3" rx="1.5" transform="translate(998 2315)" fill="#181c31"/>
                                <rect class="227" data-name="Rectangle 18227" width="3" height="3" rx="1.5" transform="translate(1011 2315)" fill="#181c31"/>
                                <rect class="228" data-name="Rectangle 18228" width="3" height="3" rx="1.5" transform="translate(1024 2315)" fill="#181c31"/>
                                <rect class="229" data-name="Rectangle 18229" width="3" height="3" rx="1.5" transform="translate(1037 2315)" fill="#181c31"/>
                                <rect class="239" data-name="Rectangle 18239" width="3" height="3" rx="1.5" transform="translate(894 2328)" fill="#181c31"/>
                                <rect class="240" data-name="Rectangle 18240" width="3" height="3" rx="1.5" transform="translate(907 2328)" fill="#181c31"/>
                                <rect class="241" data-name="Rectangle 18241" width="3" height="3" rx="1.5" transform="translate(920 2328)" fill="#181c31"/>
                                <rect class="242" data-name="Rectangle 18242" width="3" height="3" rx="1.5" transform="translate(933 2328)" fill="#181c31"/>
                                <rect class="243" data-name="Rectangle 18243" width="3" height="3" rx="1.5" transform="translate(946 2328)" fill="#181c31"/>
                                <rect class="244" data-name="Rectangle 18244" width="3" height="3" rx="1.5" transform="translate(959 2328)" fill="#181c31"/>
                                <rect class="245" data-name="Rectangle 18245" width="3" height="3" rx="1.5" transform="translate(972 2328)" fill="#181c31"/>
                                <rect class="246" data-name="Rectangle 18246" width="3" height="3" rx="1.5" transform="translate(985 2328)" fill="#181c31"/>
                                <rect class="247" data-name="Rectangle 18247" width="3" height="3" rx="1.5" transform="translate(998 2328)" fill="#181c31"/>
                                <rect class="248" data-name="Rectangle 18248" width="3" height="3" rx="1.5" transform="translate(1011 2328)" fill="#181c31"/>
                                <rect class="249" data-name="Rectangle 18249" width="3" height="3" rx="1.5" transform="translate(1024 2328)" fill="#181c31"/>
                                <rect class="250" data-name="Rectangle 18250" width="3" height="3" rx="1.5" transform="translate(1037 2328)" fill="#181c31"/>
                                <rect class="251" data-name="Rectangle 18251" width="3" height="3" rx="1.5" transform="translate(894 2341)" fill="#181c31"/>
                                <rect class="252" data-name="Rectangle 18252" width="3" height="3" rx="1.5" transform="translate(907 2341)" fill="#181c31"/>
                                <rect class="253" data-name="Rectangle 18253" width="3" height="3" rx="1.5" transform="translate(920 2341)" fill="#181c31"/>
                                <rect class="254" data-name="Rectangle 18254" width="3" height="3" rx="1.5" transform="translate(933 2341)" fill="#181c31"/>
                                <rect class="255" data-name="Rectangle 18255" width="3" height="3" rx="1.5" transform="translate(946 2341)" fill="#181c31"/>
                                <rect class="256" data-name="Rectangle 18256" width="3" height="3" rx="1.5" transform="translate(959 2341)" fill="#181c31"/>
                                <rect class="257" data-name="Rectangle 18257" width="3" height="3" rx="1.5" transform="translate(972 2341)" fill="#181c31"/>
                                <rect class="258" data-name="Rectangle 18258" width="3" height="3" rx="1.5" transform="translate(985 2341)" fill="#181c31"/>
                                <rect class="259" data-name="Rectangle 18259" width="3" height="3" rx="1.5" transform="translate(998 2341)" fill="#181c31"/>
                                <rect class="260" data-name="Rectangle 18260" width="3" height="3" rx="1.5" transform="translate(1011 2341)" fill="#181c31"/>
                                <rect class="261" data-name="Rectangle 18261" width="3" height="3" rx="1.5" transform="translate(1024 2341)" fill="#181c31"/>
                                <rect class="262" data-name="Rectangle 18262" width="3" height="3" rx="1.5" transform="translate(1037 2341)" fill="#181c31"/>
                            </g>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endif %}