{#
/**
 * @file
 * Template for the observatory menu with dropdown support.
 */
#}
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    {% if menu_level == 0 %}
      <ul class="navbar-nav">
    {% else %}
      <ul class="dropdown-menu">
    {% endif %}
    {% for item in items %}
      {%
        set classes = [
          menu_level ? 'dropdown-item' : 'nav-item',
          item.is_expanded ? 'menu-item--expanded',
          item.is_collapsed ? 'menu-item--collapsed',
          item.in_active_trail ? 'active',
          item.below ? 'dropdown',
        ]
      %}
      <li{{ item.attributes.addClass(classes) }}>
        {%
          set link_classes = [
            not menu_level ? 'nav-link',
            item.in_active_trail ? 'active',
            item.below ? 'dropdown-toggle',
          ]
        %}
        {% if item.below %}
          {# Special handling for "Inicio" menu item #}
          {% if item.title|lower == 'inicio' %}
            <a{{ item.attributes.addClass(link_classes) }} href="/" data-bs-toggle="dropdown" aria-expanded="false" aria-haspopup="true" title="{{ item.title }}">
              {{ item.title }}
              <svg xmlns="http://www.w3.org/2000/svg" width="150" height="94" viewBox="0 0 150 94" class="dropdown-arrow">
                <path data-name="Path 40645" d="M94,136.591,79.662,150,0,75,79.743,0,94,13.409,28.514,75Z" transform="translate(0 94) rotate(-90)" fill="currentColor"/>
              </svg>
            </a>
          {% else %}
            <a{{ item.attributes.addClass(link_classes) }} href="{{ item.url }}" data-bs-toggle="dropdown" aria-expanded="false" aria-haspopup="true" title="{{ item.title }}">
              {{ item.title }}
              <svg xmlns="http://www.w3.org/2000/svg" width="150" height="94" viewBox="0 0 150 94" class="dropdown-arrow">
                <path data-name="Path 40645" d="M94,136.591,79.662,150,0,75,79.743,0,94,13.409,28.514,75Z" transform="translate(0 94) rotate(-90)" fill="currentColor"/>
              </svg>
            </a>
          {% endif %}
          {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
        {% else %}
          {# Special handling for "Inicio" menu item #}
          {% if item.title|lower == 'inicio' %}
            <a{{ item.attributes.addClass(link_classes) }} href="/" title="{{ item.title }}">
              {{ item.title }}
            </a>
          {% else %}
            <a{{ item.attributes.addClass(link_classes) }} href="{{ item.url }}" title="{{ item.title }}">
              {{ item.title }}
            </a>
          {% endif %}
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %} 