<section class="project-style-2 dt-section">
    <div class="container">
        <div class="title-2">
            <span>{{content.field_tagline.0}}</span>
            <h2>{{content.field_title.0}}</h2>
            <div class="design-svg">
                <svg xmlns="http://www.w3.org/2000/svg" width="81.414" height="12.828" viewBox="0 0 81.414 12.828">
                    <path  data-name="Path 388" d="M-17000.039-6663.3l10-10,10,10,10-10,10,10,10-10,10,10,10-10,10,10" transform="translate(17000.746 6674.712)" fill="none" stroke="#5bb85c" stroke-width="2"/>
                </svg>
            </div>
        </div>
        {{content.field_view.0}}
        <a class="btn btn-primary btn-style-1" href="{{content.field_link.0['#url']}}" title="{{content.field_link.0['#title']}}">{{content.field_link.0['#title']}}</a>
    </div>
</section>