{% set base_url = url('<front>') %}
{% if search_banner_img_url %}
<section class="page-banner bg-image dt-section" style="background-image: linear-gradient(rgba(27, 31, 41, 0.72), rgba(27, 31, 41, 0.72)) , url('{{search_banner_image_url}}');">
{% else %}
<section class="page-banner bg-image dt-section" style="background-image:linear-gradient(rgba(27, 31, 41, 0.72), rgba(27, 31, 41, 0.72)) , url('{{base_url}}/sites/default/files/default_images/Subpage-Header.jpeg');">
{% endif %}    
    <div class="container">
        <div class="heading">
            <h1>{{search_banner_title}}</h1>
        </div>
    </div>
    <div class="banner-breadcrumb">
        {{drupal_block('system_breadcrumb_block')}}
    </div>
</section>
{# Search form #}
<section class="search-result dt-section">
  <div class="container">
    <div class="search-form">
      <form action="{{base_url}}/search/node" method="get">
          <input class="form-control" type="search" name="keys" placeholder="Type Something..." aria-label="Search">
          <button class="btn btn-primary" type="submit">
              <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" viewBox="0 0 150 150">
                <path id="Path_40649" data-name="Path 40649" d="M230.817,152.136,194.072,115.41a63.161,63.161,0,1,0-8.806,8.778l36.714,36.726a6.228,6.228,0,0,0,8.837-8.778ZM195.885,75.586a50.4,50.4,0,1,1-50.4-50.415A50.46,50.46,0,0,1,195.885,75.586Z" transform="translate(-82.631 -12.74)" fill="#181c31"/>
              </svg>
          </button>
      </form>
      {# Result Count #}
      <h2>Search Result - "{{ keyword }}"</h2>
      {% if total_items_count != 0 %}
      <p>We found {{ total_items_count }} Search results for you</p>
      {% else %}
      <p>No result found</p>
      {% endif %}
    </div>
    {%- if title is not empty -%}
    {%- endif -%}
    {%- if items -%}
      <div class="search-results node-results pl-0 search-list">
          {%- for item in items -%}
              {{ item.value }}
          {%- endfor -%}
      </div>
    {%- else -%}
      {{- empty -}}
    {%- endif -%}
  </div>
</section>
