<div class="cta-1">
    <div class="svg">
        <svg xmlns="http://www.w3.org/2000/svg" width="600" height="340" viewBox="0 0 600 340"><path id="Path_156" data-name="Path 156" d="M0,0H499.894L600,119.941,599.873,340H0Z" fill="#57b957"/></svg>
    </div>
    <div class="container">
        <div class="svg-overlay">
            <h3>{{content.field_title.0}}</h3>
            <a class="btn btn-primary btn-style-1" href="{{content.field_link.0['#url']}}" title="{{content.field_link.0['#title']}}">{{content.field_link.0['#title']}}</a>
        </div>
    </div>
    <div class="container">
        <div class="card-description">
            <div class="card-texts">
                <div class="number">{{content.field_text_1.0}}</div>
                <div class="card-text">{{content.field_text_2.0}}</div>
            </div>
            <div class="description">
                <p>{{content.field_description.0}}</p>
            </div>
        </div>
    </div>
</div>
