{% if 'On' in content.field_check[0] %}
<section class="about-us-1 dt-section bg-gray">
    <div class="container">
        <div class="row s-40">
            <div class="col-lg-6">
                <div class="content">
                    <span>{{content.field_tagline.0}}</span>
                    <h2>{{content.field_title.0}}</h2>
                    {{content.field_formatted_description.0}}
                </div>
                <div class="features">
                    {{content.field_widget}}           
                </div>
                <div class="contact-number">
                    <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="150.002" height="150" viewBox="0 0 150.002 150">
                            <path id="noun-support-5012357" d="M121.071,93.929a58.929,58.929,0,0,1,117.858,0V99.96A21.439,21.439,0,0,1,255,120.714v21.428a21.449,21.449,0,0,1-25.053,21.123,40.836,40.836,0,0,1-38.161,21.681q-.529.052-1.071.053H180a10.714,10.714,0,0,1,0-21.428h10.714a10.716,10.716,0,0,1,10.672,9.755,30.085,30.085,0,0,0,18.767-14.475,21.39,21.39,0,0,1-8.01-16.709V120.714A21.439,21.439,0,0,1,228.214,99.96l0-6.032a48.215,48.215,0,1,0-96.429,0V99.96a21.439,21.439,0,0,1,16.071,20.754v21.428a21.429,21.429,0,1,1-42.858,0V120.714A21.439,21.439,0,0,1,121.069,99.96ZM126.428,110a10.714,10.714,0,0,0-10.714,10.714v21.428a10.714,10.714,0,1,0,21.428,0V120.714A10.714,10.714,0,0,0,126.429,110Zm96.429,10.714a10.714,10.714,0,1,1,21.428,0v21.428a10.714,10.714,0,1,1-21.428,0Z" transform="translate(-105 -35)" fill="#181c31" fill-rule="evenodd"/>
                        </svg>
                    </div>
                    <div class="contact">
                        <span>{{content.field_label_1.0}}</span>
                        <a href="tel:{{content.field_contact_number.0}}" title="{{content.field_contact_number.0}}">{{content.field_contact_number.0}}</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <img src="{{file_url(content.field_image['#items'].entity.uri.value)}}" alt="{{content.field_image['#items'].alt}}">
                <div class="about-card">
                    <span>{{content.field_text_1.0}}</span>
                    <span>{{content.field_text_2.0}}</span>
                </div>
            </div>
        </div>
    </div>
</section>
{% else %}
<section class="about-us-1 bg-white dt-section">
    <div class="container">
        <div class="row s-40">
            <div class="col-lg-6">
                <div class="content">
                    <span>{{content.field_tagline.0}}</span>
                    <h2>{{content.field_title.0}}</h2>
                    {{content.field_formatted_description.0}}
                </div>
                <div class="features">
                    {{content.field_widget}}           
                </div>
                <div class="contact-number">
                    <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="150.002" height="150" viewBox="0 0 150.002 150">
                            <path id="noun-support-5012357" d="M121.071,93.929a58.929,58.929,0,0,1,117.858,0V99.96A21.439,21.439,0,0,1,255,120.714v21.428a21.449,21.449,0,0,1-25.053,21.123,40.836,40.836,0,0,1-38.161,21.681q-.529.052-1.071.053H180a10.714,10.714,0,0,1,0-21.428h10.714a10.716,10.716,0,0,1,10.672,9.755,30.085,30.085,0,0,0,18.767-14.475,21.39,21.39,0,0,1-8.01-16.709V120.714A21.439,21.439,0,0,1,228.214,99.96l0-6.032a48.215,48.215,0,1,0-96.429,0V99.96a21.439,21.439,0,0,1,16.071,20.754v21.428a21.429,21.429,0,1,1-42.858,0V120.714A21.439,21.439,0,0,1,121.069,99.96ZM126.428,110a10.714,10.714,0,0,0-10.714,10.714v21.428a10.714,10.714,0,1,0,21.428,0V120.714A10.714,10.714,0,0,0,126.429,110Zm96.429,10.714a10.714,10.714,0,1,1,21.428,0v21.428a10.714,10.714,0,1,1-21.428,0Z" transform="translate(-105 -35)" fill="#181c31" fill-rule="evenodd"/>
                        </svg>
                    </div>
                    <div class="contact">
                        <span>{{content.field_label_1.0}}</span>
                        <a href="tel:{{content.field_contact_number.0}}" title="{{content.field_contact_number.0}}">{{content.field_contact_number.0}}</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <img src="{{file_url(content.field_image['#items'].entity.uri.value)}}" alt="{{content.field_image['#items'].alt}}">
                <div class="about-card">
                    <span>{{content.field_text_1.0}}</span>
                    <span>{{content.field_text_2.0}}</span>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}