{# {{content.field_label_1.0}}  Label 
{{content.field_text_1.0}} Year 
{{content.field_title.0}}
{{content.field_formatted_description.0}} #}
<div class="item">
    <div class="date-year-wrappper">
        <div class="date-year">
            <span>{{content.field_label_1.0}}</span>
            <span>{{content.field_text_1.0}}</span>
        </div>
    </div>
    <div class="content">
        <h3>{{content.field_title.0}}</h3>
        {{content.field_formatted_description.0}}
    </div>
</div>