{#
/**
 * @file
 * Default template for displaying node content.
 */
#}

{# Verificar si es una noticia del observatorio o tiene "noticia" en el título #}
{% if node.bundle.value == 'observatory_news' or 'noticia' in node.title.value|lower %}
  {# Usar la plantilla específica para noticias #}
  {% include '@corporate_plus/node/node--observatory-news.html.twig' %}
{% else %}
  {# Plantilla por defecto para otros tipos de contenido #}
  <article{{ attributes.addClass(classes) }}>
    {{ title_prefix }}
    {% if label and not page %}
      <h2{{ title_attributes }}>
        <a href="{{ url }}" rel="bookmark">{{ label }}</a>
      </h2>
    {% endif %}
    {{ title_suffix }}

    {% if display_submitted %}
      <footer class="node__meta">
        {{ author_picture }}
        <div{{ author_attributes.addClass('node__submitted') }}>
          {% trans %}Submitted by {{ author_name }} on {{ date }}{% endtrans %}
          {{ metadata }}
        </div>
      </footer>
    {% endif %}

    <div{{ content_attributes.addClass('node__content') }}>
      {{ content }}
    </div>
  </article>
{% endif %}
