{# 


{{fields.field_category.content}}
{{fields.nothing.content}}


{{fields.created_1.content}}
{{fields.created_2.content}}
{{fields.created_3.content}}
{{fields.created_4.content}}
{{fields.uid.content}}
{{fields.counter.content}}
{{fields.comment_count.content}}
{{fields.totalcount.content}} #}
<div class="item">
    <img src="{{fields.field_images.content}}" alt="{{fields.field_images_1.content}}">
    <div class="content">
        <h6><a href="{{fields.view_node.content}}" title="{{fields.title.content}}">{{fields.title.content}}</a></h6>
        <span>{{fields.created.content}}</span>
    </div>
</div>